body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    margin: 30px;
}

th, td {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
}

.header {
    background-color: #CCCCCC;
    font-weight: bold;
}

.highlight {
    background-color: #FFF2CC;
}
