body {
    background-color: #fdf1d3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

iframe {
    border: none;
    width: 100%;
    height: 100px;
}

.tip-nekretnine {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0;
}

.grid-lista-nekretnina {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
    align-items: flex-start; 
}

.nekretnina {
    border: 2px solid #000;
    padding: 30px;
    background-color: white;
    text-align: center;
    max-width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nekretnina.kuca {
    background-color: powderblue;
}

.nekretnina.pp {
    background-color: green;
}

.slika-nekretnine {
    max-width: 100%;
    height: auto;
}

.detalji-nekretnine {
    text-align: left;
    margin-top: 10px;
}

.detalji-nekretnine h3 {
    margin-top: 10px;
    text-align: center;
    white-space: nowrap;
}

.detalji-nekretnine p {
    margin-top: 2px 0;
    text-align: center;
}

.cijena-nekretnine {
    margin-top: 2px 0;
    text-align: center;
}

.detalji-dugme {
    margin: 20px auto;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.slika-nekretnine {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}
